# Титаник. Кто выживет?

https://www.kaggle.com/c/titanic/

In [1]:
import numpy as np
import pandas as pd

In [2]:
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns

%config InlineBackend.figure_format = 'retina'
from pylab import rcParams
rcParams['figure.figsize'] = (9, 6)

### Данные

In [3]:
train = pd.read_csv('titanic/train.csv')
test = pd.read_csv('titanic/test.csv')

In [4]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

### Фичи

чтобы одинаковым образом обработать train и test и не дублировать все операции 2 раза, соединим эти два набора данных в один, не забыв при этом:
1. выкинуть целевую переменную из train
2. проверить на соответствие набора признаков друг другу
3. добавить флаг того, является ли объект тестовым или нет

In [7]:
y_train = train.Survived
train.drop('Survived', axis=1, inplace=True)

In [8]:
train.columns == test.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True], dtype=bool)

In [9]:
train['is_test'] = 0
test['is_test'] = 1

In [10]:
df = pd.concat([train, test])

супер, теперь полный набор данных можно обрабатывать вместе и в любой момент, уже обработанными, обратно разъединить на обучающую и тестовую выборки

Пол male/female закодируем в 1/0 и удалим переменные, с которыми мы не будем сейчас работать

In [11]:
df["isMale"] = df.Sex.replace({"male": 1, "female":0})
df.drop(["Sex", "Cabin", "Ticket", "Name", "PassengerId"], axis=1, inplace=True)

признаки, значения которых составляют небольшой перечислимый набор, закодируем в отдельные столбцы

In [12]:
df_dummies = pd.get_dummies(df, columns=['Pclass', 'Embarked'])

In [13]:
df_dummies.head(10)

,Age,SibSp,Parch,Fare,is_test,isMale,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,1,0,0,1,0,0,1
1,38.0,1,0,71.2833,0,0,1,0,0,1,0,0
2,26.0,0,0,7.9250,0,0,0,0,1,0,0,1
3,35.0,1,0,53.1000,0,0,1,0,0,0,0,1
4,35.0,0,0,8.0500,0,1,0,0,1,0,0,1
5,NaN,0,0,8.4583,0,1,0,0,1,0,1,0
6,54.0,0,0,51.8625,0,1,1,0,0,0,0,1
7,2.0,3,1,21.0750,0,1,0,0,1,0,0,1
8,27.0,0,2,11.1333,0,0,0,0,1,0,0,1
9,14.0,1,0,30.0708,0,0,0,1,0,1,0,0

In [14]:
df_dummies.isnull().sum()

Age           263
SibSp           0
Parch           0
Fare            1
is_test         0
isMale          0
Pclass_1        0
Pclass_2        0
Pclass_3        0
Embarked_C      0
Embarked_Q      0
Embarked_S      0
dtype: int64

In [15]:
X_train = df_dummies[df_dummies.is_test==0].drop('is_test', axis=1)
X_test = df_dummies[df_dummies.is_test==1].drop('is_test', axis=1)

In [16]:
columns = X_train.columns

In [17]:
X_train.head(10)

,Age,SibSp,Parch,Fare,isMale,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,1,0,0,1,0,0,1
1,38.0,1,0,71.2833,0,1,0,0,1,0,0
2,26.0,0,0,7.9250,0,0,0,1,0,0,1
3,35.0,1,0,53.1000,0,1,0,0,0,0,1
4,35.0,0,0,8.0500,1,0,0,1,0,0,1
5,NaN,0,0,8.4583,1,0,0,1,0,1,0
6,54.0,0,0,51.8625,1,1,0,0,0,0,1
7,2.0,3,1,21.0750,1,0,0,1,0,0,1
8,27.0,0,2,11.1333,0,0,0,1,0,0,1
9,14.0,1,0,30.0708,0,0,1,0,1,0,0

### Заполнение пустых значений

заполним пустые значения средними по соответственным признакам

In [18]:
from sklearn.preprocessing import Imputer

In [19]:
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0, verbose=0, copy=True)

In [20]:
imputer.fit(X_train)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [21]:
imputer.fit(X_test)

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [22]:
X_test_imputed = imputer.transform(X_test)
X_test_imputed = pd.DataFrame(X_test_imputed, columns=columns)

In [23]:
X_train_imputed = imputer.transform(X_train)
X_train_imputed = pd.DataFrame(X_train_imputed, columns=columns)

In [24]:
X_train_imputed.head(10)

,Age,SibSp,Parch,Fare,isMale,Pclass_1,Pclass_2,Pclass_3,Embarked_C,Embarked_Q,Embarked_S
0,22.00000,1.0,0.0,7.2500,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,38.00000,1.0,0.0,71.2833,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,26.00000,0.0,0.0,7.9250,0.0,0.0,0.0,1.0,0.0,0.0,1.0
3,35.00000,1.0,0.0,53.1000,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4,35.00000,0.0,0.0,8.0500,1.0,0.0,0.0,1.0,0.0,0.0,1.0
5,30.27259,0.0,0.0,8.4583,1.0,0.0,0.0,1.0,0.0,1.0,0.0
6,54.00000,0.0,0.0,51.8625,1.0,1.0,0.0,0.0,0.0,0.0,1.0
7,2.00000,3.0,1.0,21.0750,1.0,0.0,0.0,1.0,0.0,0.0,1.0
8,27.00000,0.0,2.0,11.1333,0.0,0.0,0.0,1.0,0.0,0.0,1.0
9,14.00000,1.0,0.0,30.0708,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [45]:
from sklearn.model_selection import GridSearchCV

In [46]:
params = [ {'max_depth': list( range(1, 20) )} ]

In [52]:
gs = GridSearchCV( DecisionTreeClassifier(), param_grid = params, scoring = 'accuracy', cv = 5 )

In [67]:
%%time
gs.fit( X_train_imputed, y_train )

Wall time: 584 ms

GridSearchCV(cv=5, error_score='raise',
       estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best'),
       fit_params=None, iid=True, n_jobs=1,
       param_grid=[{'max_depth': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]}],
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring='accuracy', verbose=0)

In [68]:
sorted(gs.grid_scores_, key = lambda x: -x.mean_validation_score)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:747: DeprecationWarning: The grid_scores_ attribute was deprecated in version 0.18 in favor of the more elaborate cv_results_ attribute. The grid_scores_ attribute will not be available from 0.20
  DeprecationWarning)

[mean: 0.81369, std: 0.01473, params: {'max_depth': 8},
 mean: 0.81257, std: 0.02512, params: {'max_depth': 5},
 mean: 0.81257, std: 0.02243, params: {'max_depth': 9},
 mean: 0.81145, std: 0.01613, params: {'max_depth': 7},
 mean: 0.80920, std: 0.01181, params: {'max_depth': 3},
 mean: 0.80808, std: 0.01779, params: {'max_depth': 10},
 mean: 0.80471, std: 0.02844, params: {'max_depth': 4},
 mean: 0.80135, std: 0.03067, params: {'max_depth': 6},
 mean: 0.79237, std: 0.03023, params: {'max_depth': 11},
 mean: 0.78676, std: 0.01888, params: {'max_depth': 1},
 mean: 0.78563, std: 0.03818, params: {'max_depth': 12},
 mean: 0.78563, std: 0.03541, params: {'max_depth': 13},
 mean: 0.78451, std: 0.02218, params: {'max_depth': 19},
 mean: 0.78227, std: 0.02364, params: {'max_depth': 15},
 mean: 0.78227, std: 0.02247, params: {'max_depth': 18},
 mean: 0.78114, std: 0.02134, params: {'max_depth': 17},
 mean: 0.77778, std: 0.03064, params: {'max_depth': 14},
 mean: 0.77441, std: 0.03132, params: {'max_depth': 16},
 mean: 0.77329, std: 0.01870, params: {'max_depth': 2}]

In [69]:
clf_final = DecisionTreeClassifier(max_depth=5)

In [70]:
clf_final.fit(X_train_imputed, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [72]:
y_pred_proba = clf_final.predict_proba(X_test_imputed)

In [73]:
y_pred = clf_final.predict(X_test_imputed)

In [97]:
submussion = 'PassengerId,Survived\n'
submussion += "\n".join(["{},{}".format(pid, prediction) for pid, prediction in zip(test.PassengerId, y_pred)])

In [98]:
with open('submission.csv', 'w') as file:
    file.write(submussion)

In [99]:
sub = pd.read_csv('submission.csv')

In [102]:
sub.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         1

In [84]:
for col, val in zip(X_train.columns, clf_final.feature_importances_):
    print("{:30} {:.2f}".format(col, val))

Age                            0.10
SibSp                          0.04
Parch                          0.01
Fare                           0.10
isMale                         0.55
Pclass_1                       0.05
Pclass_2                       0.00
Pclass_3                       0.14
Embarked_C                     0.00
Embarked_Q                     0.00
Embarked_S                     0.01

In [91]:
from sklearn.tree import export_graphviz

def get_tree_dot_view(clf, feature_names=None, class_names=None):
    print(export_graphviz(clf, out_file=None, filled=True, feature_names=feature_names, class_names=class_names))

In [94]:
get_tree_dot_view(clf_final, list(X_train_imputed.columns))

digraph Tree {
node [shape=box, style="filled", color="black"] ;
0 [label="isMale <= 0.5\ngini = 0.473\nsamples = 891\nvalue = [549, 342]", fillcolor="#e5813960"] ;
1 [label="Pclass_3 <= 0.5\ngini = 0.383\nsamples = 314\nvalue = [81, 233]", fillcolor="#399de5a6"] ;
0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;
2 [label="Age <= 2.5\ngini = 0.1\nsamples = 170\nvalue = [9, 161]", fillcolor="#399de5f1"] ;
1 -> 2 ;
3 [label="Parch <= 1.5\ngini = 0.5\nsamples = 2\nvalue = [1, 1]", fillcolor="#e5813900"] ;
2 -> 3 ;
4 [label="gini = 0.0\nsamples = 1\nvalue = [0, 1]", fillcolor="#399de5ff"] ;
3 -> 4 ;
5 [label="gini = 0.0\nsamples = 1\nvalue = [1, 0]", fillcolor="#e58139ff"] ;
3 -> 5 ;
6 [label="Fare <= 28.856\ngini = 0.091\nsamples = 168\nvalue = [8, 160]", fillcolor="#399de5f2"] ;
2 -> 6 ;
7 [label="Fare <= 28.231\ngini = 0.182\nsamples = 69\nvalue = [7, 62]", fillcolor="#399de5e2"] ;
6 -> 7 ;
8 [label="gini = 0.161\nsamples = 68\nvalue = [6, 62]", fillcolor="#399de5e6"] ;
7 -> 8 ;
9 [label="gini = 0.0\nsamples = 1\nvalue = [1, 0]", fillcolor="#e58139ff"] ;
7 -> 9 ;
10 [label="Parch <= 1.5\ngini = 0.02\nsamples = 99\nvalue = [1, 98]", fillcolor="#399de5fc"] ;
6 -> 10 ;
11 [label="gini = 0.0\nsamples = 84\nvalue = [0, 84]", fillcolor="#399de5ff"] ;
10 -> 11 ;
12 [label="gini = 0.124\nsamples = 15\nvalue = [1, 14]", fillcolor="#399de5ed"] ;
10 -> 12 ;
13 [label="Fare <= 23.35\ngini = 0.5\nsamples = 144\nvalue = [72, 72]", fillcolor="#e5813900"] ;
1 -> 13 ;
14 [label="Age <= 36.5\ngini = 0.484\nsamples = 117\nvalue = [48, 69]", fillcolor="#399de54e"] ;
13 -> 14 ;
15 [label="Embarked_S <= 0.5\ngini = 0.472\nsamples = 110\nvalue = [42, 68]", fillcolor="#399de561"] ;
14 -> 15 ;
16 [label="gini = 0.406\nsamples = 53\nvalue = [15, 38]", fillcolor="#399de59a"] ;
15 -> 16 ;
17 [label="gini = 0.499\nsamples = 57\nvalue = [27, 30]", fillcolor="#399de519"] ;
15 -> 17 ;
18 [label="Age <= 55.0\ngini = 0.245\nsamples = 7\nvalue = [6, 1]", fillcolor="#e58139d4"] ;
14 -> 18 ;
19 [label="gini = 0.0\nsamples = 6\nvalue = [6, 0]", fillcolor="#e58139ff"] ;
18 -> 19 ;
20 [label="gini = 0.0\nsamples = 1\nvalue = [0, 1]", fillcolor="#399de5ff"] ;
18 -> 20 ;
21 [label="Parch <= 0.5\ngini = 0.198\nsamples = 27\nvalue = [24, 3]", fillcolor="#e58139df"] ;
13 -> 21 ;
22 [label="gini = 0.0\nsamples = 1\nvalue = [0, 1]", fillcolor="#399de5ff"] ;
21 -> 22 ;
23 [label="Age <= 5.5\ngini = 0.142\nsamples = 26\nvalue = [24, 2]", fillcolor="#e58139ea"] ;
21 -> 23 ;
24 [label="gini = 0.444\nsamples = 3\nvalue = [2, 1]", fillcolor="#e581397f"] ;
23 -> 24 ;
25 [label="gini = 0.083\nsamples = 23\nvalue = [22, 1]", fillcolor="#e58139f3"] ;
23 -> 25 ;
26 [label="Age <= 6.5\ngini = 0.306\nsamples = 577\nvalue = [468, 109]", fillcolor="#e58139c4"] ;
0 -> 26 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;
27 [label="SibSp <= 2.5\ngini = 0.444\nsamples = 24\nvalue = [8, 16]", fillcolor="#399de57f"] ;
26 -> 27 ;
28 [label="gini = 0.0\nsamples = 15\nvalue = [0, 15]", fillcolor="#399de5ff"] ;
27 -> 28 ;
29 [label="Fare <= 31.331\ngini = 0.198\nsamples = 9\nvalue = [8, 1]", fillcolor="#e58139df"] ;
27 -> 29 ;
30 [label="gini = 0.0\nsamples = 5\nvalue = [5, 0]", fillcolor="#e58139ff"] ;
29 -> 30 ;
31 [label="Fare <= 35.537\ngini = 0.375\nsamples = 4\nvalue = [3, 1]", fillcolor="#e58139aa"] ;
29 -> 31 ;
32 [label="gini = 0.0\nsamples = 1\nvalue = [0, 1]", fillcolor="#399de5ff"] ;
31 -> 32 ;
33 [label="gini = 0.0\nsamples = 3\nvalue = [3, 0]", fillcolor="#e58139ff"] ;
31 -> 33 ;
34 [label="Pclass_1 <= 0.5\ngini = 0.28\nsamples = 553\nvalue = [460, 93]", fillcolor="#e58139cb"] ;
26 -> 34 ;
35 [label="Fare <= 51.698\ngini = 0.204\nsamples = 433\nvalue = [383, 50]", fillcolor="#e58139de"] ;
34 -> 35 ;
36 [label="Age <= 13.0\ngini = 0.193\nsamples = 417\nvalue = [372, 45]", fillcolor="#e58139e0"] ;
35 -> 36 ;
37 [label="gini = 0.444\nsamples = 12\nvalue = [8, 4]", fillcolor="#e581397f"] ;
36 -> 37 ;
38 [label="gini = 0.182\nsamples = 405\nvalue = [364, 41]", fillcolor="#e58139e2"] ;
36 -> 38 ;
39 [label="Fare <= 63.023\ngini = 0.43\nsamples = 16\nvalue = [11, 5]", fillcolor="#e581398b"] ;
35 -> 39 ;
40 [label="gini = 0.408\nsamples = 7\nvalue = [2, 5]", fillcolor="#399de599"] ;
39 -> 40 ;
41 [label="gini = 0.0\nsamples = 9\nvalue = [9, 0]", fillcolor="#e58139ff"] ;
39 -> 41 ;
42 [label="Fare <= 26.144\ngini = 0.46\nsamples = 120\nvalue = [77, 43]", fillcolor="#e5813971"] ;
34 -> 42 ;
43 [label="gini = 0.0\nsamples = 10\nvalue = [10, 0]", fillcolor="#e58139ff"] ;
42 -> 43 ;
44 [label="Age <= 53.0\ngini = 0.476\nsamples = 110\nvalue = [67, 43]", fillcolor="#e581395b"] ;
42 -> 44 ;
45 [label="gini = 0.495\nsamples = 89\nvalue = [49, 40]", fillcolor="#e581392f"] ;
44 -> 45 ;
46 [label="gini = 0.245\nsamples = 21\nvalue = [18, 3]", fillcolor="#e58139d4"] ;
44 -> 46 ;
}