## Сравнение точности моделей

In [1]:
import pandas as pd
from sklearn.datasets import load_digits

In [2]:
data = load_digits()

In [3]:
data.keys()

dict_keys(['data', 'target', 'target_names', 'images', 'DESCR'])

In [4]:
# закодированные признаки

X = pd.DataFrame( data['data'] )
X.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [5]:
# целевая переменная - цифра от 0 до 9

Y = pd.Series( data['target'] )
Y.head()

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [6]:
Ydummy = pd.get_dummies( Y )
Ydummy.head()

   0  1  2  3  4  5  6  7  8  9
0  1  0  0  0  0  0  0  0  0  0
1  0  1  0  0  0  0  0  0  0  0
2  0  0  1  0  0  0  0  0  0  0
3  0  0  0  1  0  0  0  0  0  0
4  0  0  0  0  1  0  0  0  0  0

In [7]:
from sklearn.tree import DecisionTreeClassifier

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
from sklearn.neighbors import KNeighborsClassifier

## DecisionTreeClassifier

In [10]:
from sklearn.cross_validation import cross_val_score

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [11]:
# средние значения для каждого варианта max_depth
Tree_means = []

In [12]:
for depth in range( 1, 20 ):
    scores = cross_val_score( DecisionTreeClassifier( max_depth = depth ), X, Y, cv = 5, scoring = 'accuracy' )
    print( depth, scores.mean() )
    Tree_means.append( scores.mean() )

1 0.19753067821
2 0.311629833948
3 0.427429190829
4 0.543376523455
5 0.621326818154
6 0.709794367832
7 0.741409196114
8 0.774861206712
9 0.776638931288
10 0.78152072906
11 0.77316349874
12 0.777084833805
13 0.789252714763
14 0.78315175996
15 0.781509564976
16 0.778760043849
17 0.78707680499
18 0.777020255352
19 0.773132489367

In [13]:
max(Tree_means)

0.78925271476251291

## KNN

In [14]:
# средние значения для каждого варианта n_neighbors
KNN_means = []

In [27]:
for N in range( 1, 20 ):
    scores = cross_val_score( KNeighborsClassifier( n_neighbors=N ), X, Y, cv = 5, scoring = 'accuracy' )
    print( N, scores.mean() )
    KNN_means.append( scores.mean() )

1 0.96497520948
2 0.9666281215
3 0.966114353704
4 0.963905777966
5 0.962789911497
6 0.959418977829
7 0.960000663612
8 0.957772086865
9 0.956125316454
10 0.955015727202
11 0.955562142113
12 0.956109926038
13 0.955551162632
14 0.956099152498
15 0.954433835479
16 0.954450921403
17 0.953312012003
18 0.948874859517
19 0.95163580089

In [16]:
max(KNN_means)

0.96662812150021915

## LogisticRegression

In [17]:
# средние значения для каждого варианта C
Log_means = []

In [23]:
for cx in range( 1, 20,):
    c=cx*0.1
    scores = cross_val_score( LogisticRegression( C=c ), X, Y, cv = 5, scoring = 'accuracy' )
    print( c, scores.mean() )
    Log_means.append( scores.mean() )

Wall time: 0 ns
0.1 0.924362969508
0.2 0.925480296662
0.30000000000000004 0.925483452854
0.4 0.925469523122
0.5 0.924352195968
0.6000000000000001 0.92491557625
0.7000000000000001 0.923809022636
0.8 0.92214233032
0.9 0.921586808494
1.0 0.921018811336
1.1 0.921018811336
1.2000000000000002 0.921018811336
1.3 0.9215759144
1.4000000000000001 0.921582191618
1.5 0.921582191618
1.6 0.921025088554
1.7000000000000002 0.921585312643
1.8 0.921025088554
1.9000000000000001 0.920475638004

In [19]:
max(Log_means)

0.92548345285397038

## Результаты

In [20]:
max(Tree_means)

0.78925271476251291

In [21]:
max(Log_means)

0.92548345285397038

In [22]:
max(KNN_means)

0.96662812150021915