## Вывести только те строки где кол-во вершин  на одном хребте больше 3-х

In [172]:
import pandas as pd
import numpy as np

In [173]:
# проверяем версию Pandas
pd.__version__

'0.20.3'

### Импорт данных для DataFrame из файлов

In [320]:
data = pd.read_csv( 'mountains.csv', delimiter = ',' )
data.head(3)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26.0
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52.0

In [321]:
data.fillna('Mount Everest', inplace= True) #заполняем NaN значение

In [323]:
pm=data['Parent mountain']

In [324]:
pm=pm.value_counts() #считаем количество вершин

In [325]:
pm=pd.DataFrame(pm) #создаем DataFrame

In [326]:
pm = pm.rename(columns={'Parent mountain': 'count'}) #переменовываем столбец для корректного отображения в результирующей таблице

In [328]:
data2=data.set_index('Parent mountain', drop=False) #устанавлеваем новый индекс для корректного соеденения таблиц

In [329]:
data2 = pd.concat([data2, pm], axis=1, join_axes=[data2.index]) #соеденияем таблици

In [331]:
mask= data2['count']

In [334]:
data2=data2[mask>3] # отфильтровываем нужные строки

In [335]:
del data2['count'] # удаляем временую колонку

In [362]:
data2.reset_index(drop=True).head(20) #сбрасываем временный индекс и выводим на экран первые 20 строк

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,Mount Everest,1953,>>145,121
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24
3,4,Lhotse,8516,27940,610,Mahalangur Himalaya,27°57′42″N 86°55′59″E﻿,Mount Everest,1956,26,26
4,5,Makalu,8485,27838,2386,Mahalangur Himalaya,27°53′23″N 87°05′20″E﻿,Mount Everest,1955,45,52
5,6,Cho Oyu,8188,26864,2340,Mahalangur Himalaya,28°05′39″N 86°39′39″E﻿,Mount Everest,1954,79,28
6,7,Dhaulagiri I,8167,26795,3357,Dhaulagiri Himalaya,28°41′48″N 83°29′35″E﻿,K2,1960,51,39
7,8,Manaslu,8163,26781,3092,Manaslu Himalaya,28°33′00″N 84°33′35″E﻿,Cho Oyu,1956,49,45
8,9,Nanga Parbat,8126,26660,4608,Nanga Parbat Himalaya,35°14′14″N 74°35′21″E﻿,Dhaulagiri,1953,52,67
9,10,Annapurna I,8091,26545,2984,Annapurna Himalaya,28°35′44″N 83°49′13″E﻿,Cho Oyu,1950,36,47
10,11,Gasherbrum I / Hidden Peak / K5,8080,26509,2155,Baltoro Karakoram,35°43′28″N 76°41′47″E﻿,K2,1958,31,16
11,12,Broad Peak / K3,8051,26414,1701,Baltoro Karakoram,35°48′38″N 76°34′06″E﻿,Gasherbrum I,1957,39,19
12,13,Gasherbrum II / K4,8035,26362,1524,Baltoro Karakoram,35°45′28″N 76°39′12″E﻿,Gasherbrum I,1956,54,12
13,14,Shishapangma,8027,26335,2897,Jugal Himalaya,28°21′12″N 85°46′43″E﻿,Cho Oyu,1964,43,19
14,15,Gyachung Kang,7952,26089,700,Mahalangur Himalaya,28°05′53″N 86°44′42″E﻿,Cho Oyu,1964,5,3
15,19,Distaghil Sar,7884,25866,2525,Hispar Karakoram,36°19′33″N 75°11′16″E﻿,K2,1960,3,5
16,21,Khunyang Chhish,7823,25666,1765,Hispar Karakoram,36°12′19″N 75°12′28″E﻿,Distaghil Sar,1971,2,6
17,22,Masherbrum / K1,7821,25659,2457,Masherbrum Karakoram,35°38′28″N 76°18′21″E﻿,Gasherbrum I,1960,4,9
18,23,Nanda Devi,7816,25643,3139,Garhwal Himalaya,30°22′33″N 79°58′15″E﻿,Dhaulagiri,1936,14,12
19,25,Batura Sar,7795,25574,3118,Batura Karakoram,36°30′37″N 74°31′21″E﻿,Distaghil Sar,1976,4,6