## Посчитать количество упоминаний каждого хребта в столбце Parent Mountain с помощью Pandas. Только если это количество больше 3, но не 3.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# проверяем версию Pandas
pd.__version__

'0.20.3'

### Импорт данных для DataFrame из файлов

In [143]:
data = pd.read_csv( 'mountains.csv', delimiter = ',' )
data.head(3)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,NaN,1953,>>145,121.0
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0

In [146]:
data['count'] = data['Parent mountain'].value_counts()
data.head(3)

,Rank,Mountain,Height (m),Height (ft),Prominence (m),Range,Coordinates,Parent mountain,First ascent,Ascents bef. 2004,Failed attempts bef. 2004,count
0,1,Mount Everest / Sagarmatha / Chomolungma,8848,29029,8848,Mahalangur Himalaya,27°59′17″N 86°55′31″E﻿,Mount Everest,1953,>>145,121.0,NaN
1,2,K2 / Qogir / Godwin Austen,8611,28251,4017,Baltoro Karakoram,35°52′53″N 76°30′48″E﻿,Mount Everest,1954,45,44.0,NaN
2,3,Kangchenjunga,8586,28169,3922,Kangchenjunga Himalaya,27°42′12″N 88°08′51″E﻿,Mount Everest,1955,38,24.0,NaN

In [144]:
data['Parent mountain'].fillna( 'Mount Everest', inplace = True )

In [145]:
data2=data['Parent mountain'].value_counts()