Home_work_Matrix

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from scipy.stats import norm

%matplotlib inline

In [13]:
# проверяем версию Pandas
pd.__version__

'0.20.3'

In [14]:
data = pd.read_csv( 'hw_25000.csv', delimiter = ';' , names=['Index', 'Height(Inches)', 'Weight(Pounds)'])
data.head(5)

                                       Index Height(Inches) Weight(Pounds)
0                                    Column1        Column2        Column3
1  Index, "Height(Inches)", "Weight(Pounds)"            NaN            NaN
2                                          1       65.78331       112.9925
3                                          2       71.51521       136.4873
4                                          3       69.39874       153.0269

In [15]:
data2=data[2:].copy() # обрезаем две верхние строки

In [16]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 2 to 25001
Data columns (total 3 columns):
Index             25000 non-null object
Height(Inches)    25000 non-null object
Weight(Pounds)    25000 non-null object
dtypes: object(3)
memory usage: 586.0+ KB

In [17]:
# меняем тип данных в колонка для возможности работы с ними
data2['Index'] = data2['Index'].astype('int')
data2['Height(Inches)'] = data2['Height(Inches)'].astype('float')
data2['Weight(Pounds)'] = data2['Weight(Pounds)'].astype('float')

In [18]:
# приводим данные к метрической системе
data2['Height(Inches)'] = data2['Height(Inches)'].apply(lambda x: x*2.54)
data2['Weight(Pounds)'] = data2['Weight(Pounds)'].apply(lambda x: x*0.45359237)

In [19]:
data2.rename( columns={"Height(Inches)": "Height", "Weight(Pounds)": "Weight"} , inplace=True) # переменовываем колонки

In [20]:
data2.reset_index(drop=True).head(5) #сбрасываем индекс (можно не делать но так красивей)

   Index      Height     Weight
0      1  167.089607  51.252536
1      2  181.648633  61.909598
2      3  176.272800  69.411834
3      4  173.270164  64.562251
4      5  172.181037  65.452064

In [21]:
# создаем 2 -ю выборку
set2=data2[data2.Height>170]
set2=set2[set2.Height<180]

In [22]:

set2 = set2['Weight'].head(20).tolist() #уменьшаем ко-во элементов до 20 и делаем "листом"
set2

[69.41183424475301,
 64.562251420898,
 65.452063573127,
 55.92902784268801,
 64.180916315439,
 61.898258072651004,
 50.971217879351,
 51.774393888910005,
 56.976055110359,
 55.547738096466,
 52.655996019242004,
 64.851597993721,
 56.265820177413005,
 64.083847548259,
 65.108285915904,
 58.74143661439901,
 64.342123043737,
 58.841998042828,
 64.602212908695,
 59.670166991974]

In [26]:
np.mean( data2['Weight'] )

57.64225582255519

In [27]:
np.mean( set2 )

60.293362085040698

In [28]:
stats.ttest_1samp( set2, data2['Weight'].mean()) #проверяем выборку

Ttest_1sampResult(statistic=2.2438433326711928, pvalue=0.036952752151265908)

## pvalue < 0.05 результат статистически значимый