Home_work_Matrix

In [1]:
import pandas as pd
import numpy as np

In [2]:
# проверяем версию Pandas
pd.__version__

'0.20.3'

In [85]:
data = pd.read_csv( 'hw_25000.csv', delimiter = ';' , names=['Index', 'Height(Inches)', 'Weight(Pounds)'])
data.head(5)

                                       Index Height(Inches) Weight(Pounds)
0                                    Column1        Column2        Column3
1  Index, "Height(Inches)", "Weight(Pounds)"            NaN            NaN
2                                          1       65.78331       112.9925
3                                          2       71.51521       136.4873
4                                          3       69.39874       153.0269

In [112]:
data2=data[2:].copy()

In [124]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 2 to 25001
Data columns (total 3 columns):
Index     25000 non-null int32
Height    25000 non-null float64
Weight    25000 non-null float64
dtypes: float64(2), int32(1)
memory usage: 488.3 KB

In [114]:
data2['Index'] = data2['Index'].astype('int')
data2['Height(Inches)'] = data2['Height(Inches)'].astype('float')
data2['Weight(Pounds)'] = data2['Weight(Pounds)'].astype('float')

In [115]:
data2['Height(Inches)'] = data2['Height(Inches)'].apply(lambda x: x*2.54)
data2['Weight(Pounds)'] = data2['Weight(Pounds)'].apply(lambda x: x*0.45359237)

In [121]:
data2.rename( columns={"Height(Inches)": "Height", "Weight(Pounds)": "Weight"} , inplace=True)

In [123]:
data2.reset_index(drop=True).head(5)

   Index      Height     Weight
0      1  167.089607  51.252536
1      2  181.648633  61.909598
2      3  176.272800  69.411834
3      4  173.270164  64.562251
4      5  172.181037  65.452064